/*-------- NAVBAR -------------- */

#header {
  margin-top: 0;
  margin-bottom: -50px;
  padding: 0;
}

#nav {
  margin-top: 20px;
  margin-bottom: 55px;
  text-align: center;
}

.fonts-display {
  /* font-family: TBA */
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#nav p.alpha {
  margin-left: 0;
}

#nav p {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  width: 120px;
}

#nav a {
  border-color: #6a6a65;
  padding-bottom: 5px;
  display: block;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.logo {
  margin-top: 25px;
  text-indent: -999em;
}

.logo a {
  padding: 0;
  border: none;
}

.logo a img{
  display: block;
  height: auto;
}

a img {
  border :none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  -webkit-transition: all 275ms;
  transition: all 275ms;
  cursor: pointer;
  text-decoration: none;
  color: #181818;
  border-bottom: 1px solid #16a6b6;
}

#nav a:hover, #nav a:focus, #nav a:active {
  border-color: #16a6b6;
}

a:hover {
  color: #16a6b6
}

