@font-face{
    font-family: Advent-Pro;
    src: url(./AdventPro-Thin.ttf)
}

@font-face{
    font-family: Quattrocento Sans;
    src: url(./)
}
@font-face{
    font-family: Montserrat;
    src: url(./Montserrat.woff2)
}